/*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	
}
.i{position:relative;
 width:100%;
 height:20cm;}
 
 
 
.a{height:5cm;
width:15%;
background:red;
border:2px solid black;
}

.aa{position:absolute;                                                     
	left:6cm;
top:5cm;}

.aa:hover{animation:round 5s infinite;
 animation-timing-function:ease;
 animation-fill-mode:forwards;
}
@keyframes round {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}


.bb{position:absolute;                                                     
	right:0px;
	top:3cm;}

.bb:hover{animation:r 5s infinite;
 animation-timing-function:ease-in;
 animation-fill-mode:forwards;
}
@keyframes r {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}


.cc{position:absolute;                                                     
	right:0px;
	top:8cm;}

.cc:hover{animation:r0 5s infinite;
 animation-timing-function:linear;
 animation-fill-mode:forwards;
}
@keyframes r0 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
*/
* {
   margin: 0px;
   padding: 0px;
}

html, body {
   width: 100%;
   height: 100%;
}

.cube{
   width: 200px;
   height: 200px;
   position: relative;
   transform-style: preserve-3d;
   transform: rotateX(-39deg) rotateY(-40deg) ;
   top: 50%;
   left: 50%;
   margin-left: -58px;
margin-top: -50px;}
.cube:hover{
 animation:r 3s infinite;
 animation-timing-function:linear;
 animation-fill-mode:forwards;
}
@keyframes r {
  0% {
    
	
            transform: rotateX(-39deg) rotateZ(0deg);
			transform-origin:center;
  }
  100% {
    
            transform: rotateX(-39deg) rotateZ(360deg);
			transform-origin:center;
  }
}
.cube div {
   width: 200px;
   height: 200px;
   position: absolute;
   background:;
   box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.cube div.top {background: red;
   transform: rotateX(90deg);
   margin-top: -100px;
   transform:translateX(px)
}

.cube div.right {background:green;/*rorarte diley translate kaj kore na,,*/
   transform: rotateY(90deg); 
   margin-left: 100px;
   transform:translateY(px)
}

.cube div.bottom {
  transform: rotateX(90deg);
  margin-top: 100px;
}

.cube div.left {
   transform: rotateY(90deg);
   margin-left: -100px;
background:cyan;}

.cube div.front {
   transform: translateZ(100px); 
   margin-top: 0px;
   margin-left: px;
}

.cube div.back {background:black;
   transform: translateZ(-100px); 
}
